#intro{
	background-color: #478C8C;
}
#about{border: 2px solid black;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-right: 800px;
    margin-left: 10px;
    background-color: ;

}
#skills{border: 2px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 800px;
    margin-left: 10px;
    background-color: ;
}
#featured_work{border: 2px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 800px;
    margin-left: 10px;
    background-color: ;
}
